<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>343387729372-qr8bv2mmru4912solp6e43sbc898t2oc.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.343387729372-qr8bv2mmru4912solp6e43sbc898t2oc</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>343387729372-pi947t2hl1e9rt8euhba8gs9g2qjlq3i.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyC4mS-ti-4R6QNV6XuJGqSgVYADmkRNTIQ</string>
		<key>GCM_SENDER_ID</key>
		<string>343387729372</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.chatkidMobile</string>
		<key>PROJECT_ID</key>
		<string>kidtalkie-979b7</string>
		<key>STORAGE_BUCKET</key>
		<string>kidtalkie-979b7.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:343387729372:ios:d84f970375a352e8f6f319</string>
	</dict>
</plist>